<!DOCTYPE html>
<html>
<head>
	<title><%= sender %> Statistics</title>
</head>
<body>
	<h1><%= sender %> Statistics</h1>
	<p>Total Messages: <%= totalMessages %></p>
	<p>Total Cost: $<%= totalCost %></p>
	<p>Total Tokens Used: <%= totalTokensUsed %></p>
</body>
</html>
